{% import "macros.html" as macros %}

{% extends "layout.html" %}

{% block content %}
<main class="container">
  <h1>{{ printer.name }}</h1>

  <form hx-put="">
    <label>
      ID
      <input type="text" readonly disabled name="id" value="{{ printer.id.as_url() }}">
    </label>

    <label>
      Name
      <input type="text" required name="name" value="{{ printer.name }}">
    </label>

    <label>
      Address
      <input type="text" required name="address" value="{{ printer.address }}">
    </label>

    <label>
      Density
      {% set selected_dpmm = printer.dpmm %}

      <select name="dpmm" required>
        {% include "zpl/dpmm.html" %}
      </select>
    </label>

    <label>
      Current Label Size
      <select name="current_size">
        <option value="">Unknown</option>
        {% for size in label_sizes %}
          <option {% if self.is_current_size(size) %}selected{% endif %} value="{{ size.id.as_url() }}">
            {{ size.width }}&times;{{ size.height}} in
          </option>
        {% endfor %}
      </select>
    </label>

    <input type="submit" value="Update">
  </form>
</main>
{% endblock %}
