<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>ZPL Printer</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css"
    integrity="sha384-L1dWfspMTHU/ApYnFiMz2QID/PlP1xCW9visvBdbEkOLkSSWsP6ZJWhPw6apiXxU" crossorigin="anonymous">

  <style>
    .w-100 {
      width: 100%;
    }

    .p-1 {
      padding: 1rem;
    }

    .text-center {
      text-align: center;
    }

    .text-end {
      text-align: end;
    }

    dialog {
      padding: 0;
    }
  </style>
</head>

<body hx-ext="morph,loading-states">
  <div class="container">
    <nav>
      <ul>
        <li><a href="/"><strong>ZPL Printer</strong></a></li>
      </ul>

      <ul>
        <li><a href="/labels">Labels</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/playground">Playground</a></li>
      </ul>
    </nav>
  </div>

  {% block content %}{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/ext/loading-states.js"
    integrity="sha384-v04dReCP6N+wBCc+JjDUHyvkWJPO5jyzXxNdZHF/HZVyMXhh2USfi3UvCfiPwmmB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/idiomorph@0.7.3/dist/idiomorph-ext.min.js"
    integrity="sha384-szktAZju9fwY15dZ6D2FKFN4eZoltuXiHStNDJWK9+FARrxJtquql828JzikODob"
    crossorigin="anonymous"></script>
</body>

</html>
